---
import BaseLayout from '../layouts/BaseLayout.astro';

const posts = await Astro.glob("./blog/*.md");

const formattedPosts = (() => {
	const filteredPosts = posts.filter(post => !post.frontmatter.isDraft)
	filteredPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf())
	return filteredPosts
})()
---

<BaseLayout title="Astro Blog">
  <ul>
    {
      formattedPosts.map((post) => (
        <li>
          <a href={`${post.url}`}>{post.frontmatter.title}</a>
          <p>{post.frontmatter.publishDate.slice(0, 10)}</p>
          <p>{post.frontmatter.description}</p>
        </li>
      ))
    }
  </ul>
</BaseLayout>

