---
  const {title} = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>

  body {
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
  }

  p {
    margin: 10px 0;
  }

  a {
    color: black;
  }

  ul {
    padding: 0;
    display: grid;
    gap: 10px;
    margin: 20px 0;
  }

  ul li {
    display: inline;
    list-style: none;
  }

  li > a {
    font-size: 24px;
    font-weight: 550;
    text-decoration: none;
    list-style: none;
  }

  a + time {
    margin-left: 10px;
  }
</style>